<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamfign.dao.UserDAO">

	<insert id="insertUser" parameterType="User" keyProperty="id">
		insert
		into days_user(
		state,
		email,
		pwd)
		values
		(
		#{state},
		#{email},
		#{pwd})
	</insert>

	<select id="findUserByEmail" parameterType="String" resultType="User">
		select
		id id,
		email email,
		pwd pwd,
		state state
		from days_user where email=#{email}
	</select>

	<select id="getAllUsers"  resultType="User">
	    select * from days_user
	</select>
</mapper>